<%= render 'shared/navbar' %>

<div class="banner" id="home-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/cwhight/image/upload/v1573819641/assorted-wine-bottles-1283219_jg25dt.jpg);">
  <div class="container">
    <h1>Cocktails are great</strong>!</h1>
    <p>Change your life and learn to make cocktails.</p>


  <!-- Modal -->
    <%= render 'shared/modal_form', open_modal: "Create a New Cocktail", modal_title: "Your New Cocktail!", button_text: "Create Cocktail" %>
  </div>
</div>


<div class="container pt-3">
  <!-- Button trigger modal -->


  <%= simple_form_for :search, url: root_path, method: :get do |f| %>
  <div class="search-form-control form-group">
      <input class="form-control string required" placeholder="Search by Cocktail or Ingredient"type="text" name="query" id="search_query" />
      <button name="button" type="submit" class="btn btn-flat">
        <i class="fas fa-search"></i> Search
      </button>
    </div>
  <% end %>
   <h1><%= @no_results %></h1>
   <div class="row">
    <% @cocktails.each do |c| %>
      <div class="col-12 col-md-6">

        <div class="card-product">
          <% if c.photo.attached? %>
            <%= cl_image_tag c.photo.key %>
           <% else %>
            <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
          <% end %>
          <div class="card-product-infos">
            <h2><%= link_to "#{c.name}", cocktail_path(c)   %></h2>
            <p><%= c.description %></p>
          </div>
        </div>
      </div>

    <% end %>
   </div>

<!--   <form novalidate="novalidate" class="simple_form search" action="/" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="&#x2713;" />
  <div class="search-form-control form-group">
    <input class="form-control string required" type="text" name="search[query]" id="search_query" />
    <button name="button" type="submit" class="btn btn-flat">
      <i class="fas fa-search"></i> Search
    </button>
  </div>
</form> -->



</div>
