<%= render 'shared/navbar' %>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/cwhight/image/upload/v1573819641/assorted-wine-bottles-1283219_jg25dt.jpg);">
  <div class="container">
    <h1><%= @cocktail.name %></h1>
      <p><%= @cocktail.description %></p>
      <%= render 'shared/modal_form', open_modal: "Edit This Cocktail", modal_title: "Edit Your Cocktail!", button_text: "Save Changes" %>
  </div>
</div>


<div class="container mt-3">
  <div class="row">
    <div class="col-12 col-md-8 my-2">
      <div class="card shadow-sm p-2 rounded">

        <h3> Ingredients</h3>
          <div>
            <% @cocktail.doses.each do |d| %>
              <p class="border-bottom mb-3 d-flex justify-content-between"><%= "#{d.ingredient.name}:"%> <%=" #{d.description}" %>
              <%= link_to '', cocktail_dose_path(@cocktail, d), method: :delete, data: { confirm: 'Are you sure?' }, class: "far fa-trash-alt" %></p>

            <% end %>
          </div>
        </div>
      </div>

  <div class="mt-2 col-12 col-md-4">
    <div class="card shadow-sm p-2">
      <%= simple_form_for [@cocktail, @dose], url: cocktail_doses_path(@cocktail) do |f| %>
        <%= f.association :ingredient %>
        <%= f.input :description %>


        <%= f.button :submit, "Add Ingredient", class: 'btn btn-ghost' %>
      <% end %>
    </div>
  </div>

  </div>

      <div class="card p-2 shadow-sm mt-3">
        <h2>Reviews</h2>
        <% @cocktail.reviews.each do |r| %>
          <div class="border-bottom mb-3">
            <span class="mb-3"><% r.score.times do %><i class="star fas fa-star"></i><% end %></span>
            <p><%= r.content %></p>

          </div>
        <% end %>
      </div>

  <br>
  <div id="review-form" class="hidden mb-3">
    <%= simple_form_for [@cocktail, @review], url: cocktail_reviews_path(@cocktail) do |f| %>
      <%= f.input :content, as: :text %>
      <%= f.input :score, collection: 0..5 %>


      <%= f.button :submit, "Create Review", class: 'btn btn-ghost' %>
    <% end %>
  </div>

<div class="d-flex justify-content-between">

  <p id="review" class="btn btn-ghost">Add a Review</p>

  <p><%= link_to 'Delete this cocktail', cocktail_path(@cocktail), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-ghost"  %></p>
</div>
</div>


